<mat-sidenav-container [style.marginTop.px]="0">
  <mat-sidenav [opened]="!isMobile()" #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()">
    <div class="header">
      <img class="logo" src="assets/logos/app-icon-text.png" alt="PASS">
    </div>
    <div class="menu">
      <mat-nav-list class="main-list">
        <p class="menu-title">GENERAL</p>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>dashboard</mat-icon>
            <span class="label">Dashboard</span>
          </span>
        </a>
        <a mat-list-item routerLink="/report" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>assignment</mat-icon>
            <span class="label">Reports</span>
          </span>
        </a>
        <a mat-list-item routerLink="/memo" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>event_note</mat-icon>
            <span class="label">Memo Alerts</span>
          </span>
        </a>
        <a mat-list-item routerLink="/notification" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>notifications</mat-icon>
            <span class="label">Notifications</span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list class="main-list">
        <p class="menu-title">PREFERENCES</p>
        <a mat-list-item routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>account_circle</mat-icon>
            <span class="label">User Profile</span>
          </span>
        </a>
        <a mat-list-item routerLink="/setting" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }" (click)="null">
          <span class="menu-item">
            <mat-icon>settings</mat-icon>
            <span class="label">Settings</span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/login" (click)="null">
          <span class="menu-item critical">
            <!-- <mat-icon>logout</mat-icon> -->
            <mat-icon>exit_to_app</mat-icon>
            <span class="label">Sign Out</span>
          </span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>